<style>
    .header-container {
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    }
    
    .header-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    .header-logo {
        width: 130px;
        height: 92px;
        padding-top: 6px;
    }

    nav ul {
        display: flex;
        list-style: none;
        gap: 30px;
    }

    nav a {
        text-decoration: none;
        color: #000;
        font-size: 20px;
        font-weight: 400;
        transition: color 0.3s;
    }

    nav a:hover {
        color: #8F98E2;
    }

    @media (max-width: 768px) {
        .header-content {
            flex-direction: column;
            gap: 20px;
        }

        nav ul {
            flex-direction: column;
            gap: 15px;
            text-align: center;
        }
    }
</style>

<div class="header-container">
    <nav>
        <ul class="header-content">
            <li>
                <a href="/pages/Home.html">
                    <img src="/public/images/logo-blacknwhite.avif" alt="L'Atelier du Chantre" class="header-logo">
                </a>
            </li>
            <li><a href="/pages/Home.html">Accueil</a></li>
            <li><a href="/pages/Manufacturing.html">Fabrication</a></li>
            <li><a href="/pages/Maintenance&Restoration.html">Entretien et Restauration</a></li>
            <li><a href="/pages/Home.html#blog">En savoir plus</a></li>
            <li><a href="/pages/Contact.html">Contact</a></li>
        </ul>
    </nav>
</div>
