#app {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#app.fade-out-content {
    opacity: 0;
}

body.fade-out {
    opacity: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 19px;
    line-height: 1.6;
    color: #000;
    background: #FBFBFB;
}


h1 {
    font-size: 60px;
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
    text-align: center;
    color: #292929c9;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.title-divider {
    width: 280px;
    height: 4px;
    background: #FAF0E1;
    margin: 0 auto;
}

.ni-btn {
    display: block;
    width: fit-content;
    margin: 25px auto 0;
    padding: 12px 30px;
    background: transparent;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.4s;
    cursor: pointer;
}

.ni-btn:hover {
    background: #000;
    color: #fff;
    border-color: #fff;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 42px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 36px;
    }
}