* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 19px;
    line-height: 1.6;
    color: #000;
    background: #FBFBFB;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

h1 {
    font-size: 60px;
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
    text-align: center;
    color: #292929c9;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.title-divider {
    width: 280px;
    height: 4px;
    background: #FAF0E1;
    margin: 0 auto;
}